<div
  class="absolute right-5 top-5 w-6 h-6 grid place-content-center rounded-full border-2 border-gray-800 cursor-pointer"
  (click)="handleClose()"
>
  <i class="fa-solid fa-xmark"></i>
</div>
<div class="space-y-3">
  <div class="pr-8 text-base font-medium truncate">{{ data.title }}</div>
  <div class="min-h-[24px]">{{ data.content }}</div>
  <div class="flex justify-end items-center gap-3">
    <button class="btn-text" (click)="handleCancel()">
      {{ data.cancelText || 'Cancel' }}
    </button>
    <button
      [ngClass]="data.danger ? 'btn-danger' : 'btn'"
      (click)="handleConfirm()"
    >
      {{ data.confirmText || 'Confirm' }}
    </button>
  </div>
</div>
