<div
  class="absolute right-5 top-5 w-6 h-6 grid place-content-center rounded-full border-2 border-gray-800 cursor-pointer"
  (click)="handleClose()"
>
  <i class="fa-solid fa-xmark"></i>
</div>
<div class="space-y-3">
  <span class="text-lg font-medium">{{ title }}</span>
  <div class="min-h-[24px]">{{ content }}</div>
  <div class="flex justify-end items-center gap-3">
    <button class="btn-text" (click)="handleCancel()">
      {{ cancelText }}
    </button>
    <button [ngClass]="danger ? 'btn-danger' : 'btn'" (click)="handleConfirm()">
      {{ confirmText }}
    </button>
  </div>
</div>
