<div class="post-container mx-auto py-10 px-5 md:px-0">
  <textarea
    cdkTextareaAutosize
    class="w-full h-auto font-mont font-semibold text-3xl tracking-wide resize-none outline-none border-none"
    placeholder="Tiêu đề bài viết..."
    style="word-spacing: 0.1rem"
    [formControl]="titleCtrl"
  ></textarea>
  <app-content-editor></app-content-editor>
  <div
    class="fixed left-1/2 -translate-x-1/2 bottom-[5%] flex items-center gap-3 z-[998] opacity-0 transition-all ease-in-out"
    [ngClass]="
      editorData?.blocks?.length
        ? 'translate-y-0 !opacity-100'
        : 'translate-y-[150px]'
    "
  >
    <button
      class="btn-text btn-outline shadow"
      [disabled]="hasContentSaved"
      [class.loading]="loadingDraft"
      (click)="saveAsDraft()"
    >
      <i *ngIf="loadingDraft" class="fas fa-spinner animate-spin"></i>
      {{ hasContentSaved ? 'Đã lưu' : 'Lưu nháp' }}
    </button>
    <button class="btn shadow" (click)="nextStep()">Tiếp tục</button>
  </div>
</div>
