<nav
  class="w-screen border-b shadow"
  *ngVar="auth.isLoading$ | async as loading"
>
  <div class="h-[60px] container flex items-center">
    <h1 class="font-bold text-blue-500">Elyk4ruM</h1>
    <div class="flex-grow"></div>
    <div
      class="flex items-center gap-3"
      *ngIf="auth.user$ | async as user; else not_auth"
    >
      <div
        class="grid place-content-center p-2.5 rounded hover:bg-gray-100 transition-colors cursor-pointer"
      >
        <i class="text-gray-500 fa-solid fa-magnifying-glass"></i>
      </div>
      <div
        class="grid place-content-center p-2.5 rounded hover:bg-gray-100 transition-colors cursor-pointer"
      >
        <i class="text-gray-500 fa-regular fa-envelope"></i>
      </div>
      <div
        class="grid place-content-center p-2.5 rounded hover:bg-gray-100 transition-colors cursor-pointer"
      >
        <i class="text-blue-500 fa-regular fa-bell"></i>
      </div>
      <div class="avatar">
        <img
          loading="lazy"
          [src]="user.picture"
          [alt]="'Avatar of ' + user.name"
        />
      </div>
      <app-dropdown
        xPosition="before"
        menuClass="!min-w-[220px] !max-w-[220px]"
      >
        <p innerButton class="font-medium">{{ user.name }}</p>
        <ul>
          <li class="p-3 flex items-center gap-3">
            <div class="avatar avatar--small">
              <img [src]="user.picture" [alt]="user.name" />
            </div>
            <div>
              <p class="text-sm font-medium">{{ user.name }}</p>
              <p class="max-w-[140px] text-xs text-gray-400 truncate">
                @{{ user.email }}
              </p>
            </div>
          </li>
          <hr />
          <li class="p-2">
            <div
              [routerLink]="['profile', user[tenant + '/uuid']]"
              class="flex items-center gap-2 px-3 py-2 text-sm rounded hover:text-blue-500 hover:bg-gray-100 transition-colors cursor-pointer"
            >
              <i class="w-4 text-gray-500 text-base far fa-edit"></i>My threads
            </div>
            <div
              [routerLink]="['profile', user[tenant + '/uuid']]"
              class="flex items-center gap-2 px-3 py-2 text-sm rounded hover:text-blue-500 hover:bg-gray-100 transition-colors cursor-pointer"
            >
              <i class="w-4 text-gray-500 text-base far fa-paste"></i>My drafts
            </div>
            <div
              [routerLink]="['profile', user[tenant + '/uuid']]"
              class="flex items-center gap-2 px-3 py-2 text-sm rounded hover:text-blue-500 hover:bg-gray-100 transition-colors cursor-pointer"
            >
              <i class="w-4 text-gray-500 text-base far fa-bookmark"></i>Saved
              threads
            </div>
            <div
              [routerLink]="['profile', user[tenant + '/uuid']]"
              class="flex items-center gap-2 px-3 py-2 text-sm rounded hover:text-blue-500 hover:bg-gray-100 transition-colors cursor-pointer"
            >
              <i class="w-4 text-gray-500 text-base fa-solid fa-gear"></i>
              Settings
            </div>
          </li>
          <hr />
          <li
            class="flex items-center gap-2 p-3 text-sm font-medium hover:text-blue-500 hover:bg-gray-100 transition-colors cursor-pointer"
            (click)="auth.logout({ returnTo: document.location.origin })"
          >
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
          </li>
        </ul>
      </app-dropdown>
    </div>
    <ng-template #not_auth>
      <div class="flex items-center gap-3">
        <span [class.cursor-not-allowed]="loading">
          <button class="btn-text" [class.loading]="loading" (click)="login()">
            Login
          </button>
        </span>
        <span [class.cursor-not-allowed]="loading">
          <button class="btn" [class.loading]="loading" (click)="login()">
            Sign up
          </button>
        </span>
      </div>
    </ng-template>
  </div>
</nav>
