<footer class="border-t">
  <div class="container py-8">
    <div>
      <h2 class="font-bold">Elyk4ruM</h2>
    </div>
    <div class="mt-5">
      <p class="max-w-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
        vero! Praesentium consequuntur magni natus illum earum quibusdam
        reiciendis labore sapiente sint! Ipsa eum fugiat et numquam sint
        praesentium cumque veniam unde, minima eveniet, officia maiores ex hic
        aspernatur. Doloribus quam, laudantium enim earum deleniti a voluptatum.
        Earum, aut! Sed, quisquam.
      </p>
    </div>
  </div>
  <p class="bg-blue-50 py-1.5 text-sm text-gray-500 text-center">
    Copyright 2022 Elyk4rum. All Rights Reserved
  </p>
</footer>
