ng-select.select {
  .ng-select-container {
    @apply border border-gray-200 rounded outline-none focus:ring-2 focus:ring-blue-200 hover:shadow-none;
  }

  &.ng-select-opened {
    & > .ng-select-container {
      @apply border-gray-200;
    }
  }

  &.ng-select-multiple {
    .ng-value-container {
      .ng-value {
        background-color: rgb(243 244 246) !important;
        @apply px-2 py-0.5 mr-1.5 bg-gray-100 rounded truncate;

        .ng-value-icon {
          @apply mr-1;

          &:hover {
            background-color: rgb(243 244 246) !important;
          }

          &.left {
            border-right: 0 !important;
            @apply relative;

            &::after {
              content: '';
              @apply absolute top-1/2 right-0 w-[1px] h-[60%] bg-gray-400 -translate-y-1/2;
            }
          }
        }

        .ng-value-label {
          @apply font-medium text-xs;
        }
      }
    }
  }

  &.ng-select-single {
    .ng-value-container {
      .ng-value-label {
      }
    }
  }
}

ng-dropdown-panel.ng-dropdown-panel {
  @apply max-h-[200px] mt-3 bg-white rounded shadow overflow-x-hidden overflow-y-auto;

  .ng-dropdown-panel-items {
    .ng-option {
      @apply p-2 hover:bg-blue-50 transition-colors;

      .ng-tag-label {
      }

      &.ng-option-selected {
        @apply bg-blue-500 text-white;

        .ng-option-label {
          font-weight: 500 !important;
        }
      }
    }
  }
}
