<ng-container *ngVar="auth.isAuthenticated$ | async as isAuth">
  <app-hero *ngIf="!isAuth"></app-hero>
  <app-popular-threads></app-popular-threads>
  <div class="container">
    <div class="flex gap-5 mt-5">
      <div class="flex-1">
        <ng-container *ngIf="threads$ | async as threads">
          <app-thread-card
            *ngFor="let thread of threads; trackBy: trackById"
            [thread]="thread"
          ></app-thread-card>
        </ng-container>
        <app-pagination></app-pagination>
      </div>
      <aside class="hidden xl:block w-[30%]">Side card</aside>
    </div>
  </div>
</ng-container>
